<h3 style="text-align: center;">Your Order Summary</h3>
<section>
{{#if itemsInCart}}
{{#each itemsInCart}}
<div style="display: flex;">
<img style="flex:0.5;" src="/img/{{this.photo}}" class="desc_img">
<div style="flex: 1; margin:2em;">
    <span style="font-family: sans-serif;">{{this.title}}</span><br><br>
    <span style="font-family: sans-serif;">{{this.description}}</span><br><br>  
    <span style="font-family: sans-serif; color:darkred">CDN${{this.price}}</span><br><br>
    <span style="font-family: sans-serif;">Quantity Ordered: {{this.quantity}}</span>
</div>
</div>
{{/each}}

<form action="/product/buy" method="POST" class="form_regis">
    <input type="submit" value="Place your Order">    
</form>
 <span style="color: darkred; font-family:sans-serif;">Order Total: CDN${{total}}</span>
{{else}}
<span style="font-family: sans-serif; padding-left: 45%;">No items to display</span>
{{/if}}

</section>