<div id="home_promo">
    <img src="img/promo.jpg" alt="Promotional">
    <p class="slogan">We pay you <br>Quality</p>
</div>
    <p class="inline">Products Category</p>
<section id="home_sec">
    {{#each products}}
        <a href="{{href}}" class="boxforproducts"><div>
            <p class="home_pro">
                {{title}}
            </p>
             <img class="home_img" src="{{src}}" alt="products">
        </div></a>
    {{/each}}
</section>
    <p class="inline">Best selling products</p>
<section id="best_seller">
    {{#each bseller}}
        {{#if_eq this.best "yes"}}
            {{#if_eq this.category "watch"}}
                <a href="/product/products1" class="boxforbest"><div>
            {{/if_eq}}
            {{#if_eq this.category "sunglasses"}}
                <a href="/product/products2" class="boxforbest"><div>
            {{/if_eq}}
            {{#if_eq this.category "perfume"}}
                <a href="/product/products4" class="boxforbest"><div>
            {{/if_eq}}
            {{#if_eq this.category "accessories"}}
                <a href="/product/products3" class="boxforbest"><div>
            {{/if_eq}}
                <p class="home_pro">
                    {{title}}
                </p>
                <img class="home_best" src="/img/{{this.photo}}" alt="Best Selling Products">
            </div></a>
        {{/if_eq}}
    {{/each}}
</section>