<form action="/registrationvalidation" method="POST" id="form_regis">
    <p class="main_head_lr">Create Account</p>
    <label for="name">Your Name</label><br>
    <input type="text" name="name" id="name" autofocus tabindex="0" value="{{name}}"><br>
    {{#each errName}}
        <span class="err_login">{{this}}</span><br>
    {{/each}}
    <br>
    <label for="email">Email</label><br>
    <input type="text" name="email" id="email" tabindex="0" placeholder="ofa@example.com" value="{{id}}"><br>
    {{#each errId}}
        <span class="err_login">{{this}}</span><br>
    {{/each}}
    <br>
    <label for="password">Password</label><br>
    <input type="password" name="password" id="password" tabindex="0" value="{{pass}}"><br>
    {{#each errPass}}
        <span class="err_login">{{this}}</span><br>
    {{/each}}
    <br>
    <input type="submit" value="Create Your Account" tabindex="0">
</form>
<br>
<a href="/login"><button id="btn_regis">Already have an Account</button></a>